name: Deploy Email

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build & Push Docker Image
        run: |
          IMAGE_NAME=${{ secrets.DOCKER_USER }}/email-service:latest
          echo "Building Docker image $IMAGE_NAME"
          docker build -t $IMAGE_NAME .
          echo "Pushing Docker image $IMAGE_NAME"
          docker push $IMAGE_NAME
