name: Deploy Email Service

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build & Push Docker Image
        run: |
          IMAGE_NAME=${{ secrets.DOCKER_USER }}/email-service
          COMMIT_SHA=${{ github.sha }}

          echo "Building Docker images for $IMAGE_NAME"
          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$COMMIT_SHA .

          echo "Pushing Docker images to Docker Hub"
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$COMMIT_SHA
